



//- include includes/slider-cards




section#notes.notes
      .notes__body
          .title
            h2._0 JQUERY
          .notes-item__block.block
            section#tabs.tabs
              include includes/scripts
section#notes.notes
      .notes__body
          .title
            h2._0 jquery_steps
          .notes-item__block.block
            section#tabs.tabs
              include includes/jquery_steps
section#notes.notes
      .notes__body
          .title
            h2._0 javascript
          .notes-item__block.block
            section#tabs.tabs
              include includes/javascript
section#notes.notes
      .notes__body
          .title
            h2._0 sass
          .notes-item__block.block
            section#tabs.tabs
              include includes/sass
section#notes.notes
      .notes__body
          .title
            h2._0 grid
          .notes-item__block.block
            section#tabs.tabs
              include includes/grid
section#notes.notes
      .notes__body
          .title
            h2._0 block
          .notes-item__block.block
            section#tabs.tabs
              include includes/block
section#notes.notes
      .notes__body
          .title
            h2._0 pug 
          .notes-item__block.block
            section#tabs.tabs
              include includes/pug
section#notes.notes
      .notes__body
          .title
            h2._0 deploy 
          .notes-item__block.block
            section#tabs.tabs
              include includes/deploy
              



