include includes/popup

section#notes.notes
      .notes__body
          .title
            h2._0 верстка в картинках
          .notes-item__block.block
            section#tabs.tabs
              include includes/layouts
section#notes.notes
      .notes__body
          .title
            h2._0 wordpress 
          .notes-item__block.block
            section#tabs.tabs
              include includes/wordpress
              
section#notes.notes
      .notes__body
          .title
            h2._0 vue
          .notes-item__block.block
            section#tabs.tabs
              include includes/vue
section#notes.notes
      .notes__body
          .title
            h2._0 JQUERY functions  --- https://jquery-docs.ru/
          .notes-item__block.block
            section#tabs.tabs
              include includes/jquery-functions
section#notes.notes
      .notes__body
          .title
            h2._0 JQUERY scripts 
          .notes-item__block.block
            section#tabs.tabs
              include includes/scripts
section#notes.notes
      .notes__body
          .title
            h2._0 jquery_steps
          .notes-item__block.block
            section#tabs.tabs
              include includes/jquery_steps
section#notes.notes
      .notes__body
          .title
            h2._0 javascript
          .notes-item__block.block
            section#tabs.tabs
              include includes/javascript
section#notes.notes
      .notes__body
          .title
            h2._0 sass
          .notes-item__block.block
            section#tabs.tabs
              include includes/sass
section#notes.notes
      .notes__body
          .title
            h2._0 grid
          .notes-item__block.block
            section#tabs.tabs
              include includes/grid
section#notes.notes
      .notes__body
          .title
            h2._0 block
          .notes-item__block.block
            section#tabs.tabs
              include includes/block
section#notes.notes
      .notes__body
          .title
            h2._0 pug 
          .notes-item__block.block
            section#tabs.tabs
              include includes/pug




section#notes.notes
      .notes__body
          .title
            h2._0 deploy 
          .notes-item__block.block
            section#tabs.tabs
              include includes/deploy

              



.popup
                                    .popup__overlay
                                      .popup__inner
                                        i.icon-x.popup__close.close-js
                                        video#player(playsinline='' controls='' )
                                            source(src='./../img/video-1.mp4' type='video/mp4')
                                    i.icon-x.popup__close.popup__close