section#notes.notes
      .notes__body
          .title
            h2._0 JQUERY
          .notes-item__block.block
            section#tabs.tabs
              include includes/scripts
              include includes/sass



