section#notes.notes
      .notes__body
        .notes__item.notes-item
          .notes-item__title
            h2 JQUERY
          .notes-item__block.block
            //- .block__title
            //-   h3 разные скрипты
            section#tabs.tabs
              .tabs-item
                  .tabs-item__title.tabs-title-js разные скрипты
                    i.icon-chevron-down.tabs-item__img.tabs-img-js
                  .tabs__drop.tabs-drop.tabs-drop-js
                      .tabs-drop__info Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eum impedit eveniet dolorum illum eaque quam animi inventore nisi perferendis.

          .notes-item__block.block
            .block__title
              h3 методы
              article.block__article.article
                .article__title 
                  h4 .find("")
              article.block__article.article
                .article__title 
                  h4 .next("")
              article.block__article.article
                .article__title 
                  h4 .siblings("")
              article.block__article.article
                .article__title 
                  h4 .closest("")
              article.block__article.article
                .article__title 
                  h4 .parent("")
              article.block__article.article
                .article__title 
                  h4 .append("")
              article.block__article.article
                .article__title 
                  h4 .appendTo("")
              article.block__article.article
                .article__title 
                  h4 .prepend()
              article.block__article.article
                .article__title 
                  h4 .prependTo()
              article.block__article.article
                .article__title 
                  h4 .attr("")
              article.block__article.article
                .article__title 
                  h4 .html()
              article.block__article.article
                .article__title 
                  h4 .text()
              article.block__article.article
                .article__title 
                  h4 .before()
              article.block__article.article
                .article__title 
                  h4 .insertBefore()
              article.block__article.article
                .article__title 
                  h4 .after()
              article.block__article.article
                .article__title 
                  h4 .insertAfter()
              article.block__article.article
                .article__title 
                  h4 .wrap()
              article.block__article.article
                .article__title 
                  h4 .wrapAll()
              article.block__article.article
                .article__title 
                  h4 .wrapInner()
              article.block__article.article
                .article__title 
                  h4 .after()
              article.block__article.article
                .article__title 
                  h4 .after()

          .notes-item__block.block
            .block__title 
              h3 селекторы
          .notes-item__block.block
            .block__title
          .notes-item__block.block
            .block__title
          .notes-item__block.block
            .block__title
          .notes-item__block.block
            .block__title
          .notes-item__block.block
            .block__title
        .notes__item.notes-item
          .notes-item__title JS
        .notes__item.notes-item
          .notes-item__title SASS
        .notes__item.notes-item
          .notes-item__title GRID

