//- слева или справа какие-то блоки ---  с другой стороны картинка
.tabs-item
                  .tabs-item__title.tabs-title-js
                    h3._0  слева или справа какие-то блоки ---  с другой стороны картинка
                    i.icon-chevron-down.tabs-item__img.tabs-img-js
                  .tabs__drop.tabs-drop.tabs-drop-js
                    ul.akr__body
                        li.akr__item.akr-item
                          .akr-item__title.akr-title-js
                              img(src="assets/img/i-4.png",alt="img")  
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                          .akr__drop.akr-drop.akr-drop-js

                              p section#forward_leasing_actions.forward_leasing_actions
                              p       .forward_leasing_actions__title.forward_leasing__title
                              p         h2  Порядок действий
                              p       .forward_leasing_actions__content
                              p         .forward_leasing_actions__column
                              p           .forward_leasing_actions__item.forward_leasing_actions-item
                              p             .forward_leasing_actions-item__number 1
                              p             .forward_leasing_actions-item__description 
                              p               p.forward_leasing__big-description  Выберите товар
                              p               p В нашем каталоге всегда самые актуальные модели
                              p           .forward_leasing_actions__item.forward_leasing_actions-item
                              p             .forward_leasing_actions-item__number 2
                              p             .forward_leasing_actions-item__description 
                              p               p.forward_leasing__big-description  Оформите заявку онлайн
                              p               p В нашем каталоге всегда самые актуальные самые  актуальные модели
                              p           .forward_leasing_actions__item.forward_leasing_actions-item
                              p             .forward_leasing_actions-item__number 3
                              p             .forward_leasing_actions-item__description 
                              p               p.forward_leasing__big-description  Укажите адрес доставки
                              p               p В нашем каталоге всегда самые актуальные модели
                              p           .forward_leasing_actions__item.forward_leasing_actions-item
                              p             .forward_leasing_actions-item__number 4
                              p             .forward_leasing_actions-item__description 
                              p               p.forward_leasing__big-description  Выкупите в собственность
                              p               p В нашем каталоге всегда самые актуальные 
                              p         .forward_leasing_actions__column
                              p             .forward_leasing_actions__img
                              h2._1 sass
                              p .forward_leasing_actions
                              p   padding: 9rem 0 0 0
                              p   @media (min-width: 752px) and (max-width: 1199px)
                              p     padding: 8.5rem 0 0 0
                              p     margin: 0 0 39.8% 0
                              p   @media (max-width: 751px)		
                              p     padding: 6rem 0 0 0
                              p   &__title
                              p     padding: 0 0 4.5rem 0
                              p     @media (min-width: 752px) and (max-width: 1199px)
                              p       padding: 0 0 3rem 0
                              p     @media (max-width: 751px)		
                              p       padding: 0 0 2.7rem 0
                              p   &__content
                              p     background: #F7F7F7
                              p     +jucb	
                              p     @media (min-width: 752px) and (max-width: 1199px)
                              p       +fdc
                              p 
                              p   
                              p   &__column
                              p     flex: 0 1 50%
                              p     padding: 0 0 2rem 0
                              p     @media (max-width: 751px)		
                              p       flex: 0 1 100%
                              p     &:nth-child(1)
                              p       padding: 38px 0 18px 0
                              p       @media (max-width: 751px)		
                              p         padding: 2.8rem 0 0 0
                              p     &:nth-child(2)
                              p       padding: 0 
                              p       @media (min-width: 752px) and (max-width: 1199px)
                              p         margin: -2.2rem 0 0  0
                              p       @media (max-width: 751px)
                              p         margin: 20px 0 0  0
                              p     @media (max-width: 751px)		
                              p       flex: 0 1 100%
                              p       
                              p   &__img
                              p     +background-img("/assets/img/png/man-2.png")
                              p     +pro
                              p     @media (min-width: 752px) and (max-width: 1199px)
                              p       width: 100%
                              p       padding: 0 0 42% 0
                              p       height: 42%
                              p     @media (max-width: 751px)		
                              p       padding: 6rem 0 42% 0
                              p   &__item
                              p     margin: 0 0 13px 0
                              p     @media (min-width: 752px) and (max-width: 1199px)
                              p       margin: 0 0 13px 0
                              p     @media (max-width: 751px)		
                              p       margin: 0 0 12px 0
                              p .forward_leasing_actions-item
                              p   +alis
                              p   padding: 0 0 0 5.3rem
                              p   @media (min-width: 752px) and (max-width: 1199px)
                              p     padding: 0 0 0 4.3rem
                              p   @media (max-width: 751px)		
                              p     padding: 0 0 0 0
                              p   @media (max-width: 751px)		
                              p     padding: .5rem 0 0 1.8rem
                              p 
                              p   &__number
                              p     font-weight: 900
                              p     font-size: 5.4rem
                              p     line-height: 6.3rem
                              p     color: #D7D7D7
                              p     flex: 0 1 9.2%
                              p     @media (min-width: 752px) and (max-width: 1199px)
                              p       flex: 0 1 7%
                              p     @media (max-width: 751px)		
                              p       line-height: 1
                              p   &__description
                              p     flex: 0 1 80%
                              p     padding: 18px 0 0 0
                              p     @media (max-width: 751px)		
                              p       padding: .6rem 0 0 1.6rem
                              p     p
                              p       color: #000000
                              p       padding: 0
                              p       margin: 0 0 16px 0
                              p       @media (max-width: 751px)		
                              p         font-size: 1.2rem
                              p         line-height: 1.5rem
                              p         margin: 0 0 6px 0
                              p p.forward_leasing__big-description
                              p     font-weight: 700
                              p     font-size: 1.8rem
                              p     line-height: 0
                              p     color: #636363
                              p     @media (max-width: 751px)		
                              p       font-size: 1.5rem
                        li.akr__item.akr-item
                          .akr-item__title.akr-title-js
                              img(src="assets/img/i-8.png",alt="img")  
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                          .akr__drop.akr-drop.akr-drop-js
                              p  .models__item.models-item
                              p    .models-item__column
                              p      .models-item__title.title-1
                              p        h2 Mokyklinės uniformos
                              p        span._big-number 1
                              p      .models-item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit.                      p  Quisque sollicitudin, sem vel ullamcorper sollicitudin, arcu turpis euismod diam, vel                     p  auctor dolor magna ut arcu.
                              p      button.btn.btn--light.models-item__button(type="button" ) Katalogas
                              p    .models-item__column
                              p      .models-item__img(style="background-image: url('/assets/img/png/img-2.png')")
                              h2._1 sass
                              p  .models
                              p    @media (max-width: 767px)
                              p      padding: 0 0 5rem 0
                              p  .models__body
                              p  .models__item
                              p  .models-item
                              p    display: grid
                              p    grid-template-columns: 43.2% 1fr 
                              p    padding: 10rem 0 0 0
                              p    @media (min-width: 768px) and (max-width: 1199px) 
                              p      grid-template-columns: 43.2% 50%
                              p      justify-content: space-between
                              p    @media (max-width: 767px)
                              p      grid-template-columns: 1fr
                              p  
                              p  .models-item__column
                              p    position: relative
                              p    @media (max-width: 767px)
                              p      margin: 2rem 0 0 0
                              p  .models-item__title 
                              p    position: relative
                              p    padding: 10.2rem 0 0 0
                              p  .models-item__description
                              p    font-size: 2rem
                              p    padding: 2rem 0 0 0
                              p    line-height: 2.4rem 
                              p    @media (max-width: 1199px)
                              p      font-size: 1.5rem
                              p  .models-item__button
                              p    margin: 3.5rem 0 0 0
                              p    font-size: 20px
                              p    line-height: 24px
                              p    @media (max-width: 767px)
                              p      position: absolute
                              p      left: 50%
                              p      transform: translateX(-50%)
                              p      bottom: -95vw
                              p  .models-item__img
                              p    // +background-img("/assets/img/png/img-2.png")
                              p    width: 100%
                              p    padding: 0 0 83.8% 0
                              p    background-repeat: no-repeat
                              p    background-size: cover
                              p    background-position: center
                              p  ._big-number
                              p    font-family: Roboto
                              p    font-style: normal
                              p    font-weight: 900
                              p    font-size: 21rem
                              p    // line-height: 23.4rem
                              p    text-transform: uppercase
                              p    color: transparent
                              p    -webkit-text-stroke: .5rem rgba(0, 162, 215, 0.3)
                              p    +absolute(auto,auto,0,0,auto,0%,0%)
                              p    z-index: -1
                              p    top: 8.5rem
                              p    @media (max-width: 1199px)
                              p        font-size: 15rem 

                        li.akr__item.akr-item
                            .akr-item__title.akr-title-js
                              img(src="assets/img/i-13.png",alt="img")  
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                            .akr__drop.akr-drop.akr-drop-js
                                p       .address__body
                                p         .address__item.address-item
                                p           .address-item__title
                                p             h3 Kaunas
                                p           .address-item__blocks
                                p             .address-item__block.item-block
                                p               .item-block__title
                                p                 h4  Darbo laikas:
                                p               .item-block__text
                                p                 p I-V 09:00-17:30
                                p                 p VI-VII nedirbame
                                p             .address-item__block.item-block
                                p               .item-block__title
                                p                 h4  Telefono numeris:
                                p               .item-block__text
                                p                 p Tel.: 837 455185
                                p                 p Fax.: 837 455144
                                p             .address-item__block.item-block
                                p               .item-block__title
                                p                 h4  Adresas:
                                p               .item-block__text
                                p                 p Technikos g.18S, Kaunas
                                p             .address-item__block.item-block
                                p               .item-block__title
                                p                 h4  El. paštas:
                                p               .item-block__text
                                p                 p info@uniformos.lt
                                p         .address__item
                                p           .address-map
                                h2._1 sass
                                p .address
                                p   margin: 10rem 0 0 0
                                p   @media (min-width: 0px) and (max-width: 1199px)
                                p     margin: 5rem 0 0 0
                                p   &__title
                                p     margin: 0 0 5rem 0
                                p     @media (min-width: 0px) and (max-width: 1199px)
                                p       margin: 0 0 2rem 0
                                p     h2  
                                p       font-weight: 600
                                p       font-size: 3.5rem
                                p       line-height: 4.3rem
                                p       color: #000000
                                p       @media (min-width: 0px) and (max-width: 1199px)
                                p         font-size: 2.5rem
                                p   &__body
                                p     +jucb	
                                p   &__item
                                p     margin: 0 0 7rem 0
                                p     @media (min-width: 0px) and (max-width: 1199px)
                                p       flex: 0 1 100%
                                p       margin: 0 0 3rem 0
                                p     &:first-child
                                p       flex: 0 1 34.5%
                                p       @media (min-width: 0px) and (max-width: 1199px)
                                p         flex: 0 1 100%
                                p .address-item
                                p   &__title
                                p     padding: 0 0 5rem 0
                                p     @media (min-width: 0px) and (max-width: 1199px)
                                p       padding: 0 0 2rem 0
                                p     h3
                                p       font-weight: 600
                                p       font-size: 2.5rem
                                p       line-height: 3rem
                                p       color: #000000
                                p       @media (min-width: 0px) and (max-width: 1199px)
                                p         font-size: 2rem
                                p   &__blocks
                                p     display: grid
                                p     grid-template-columns:  repeat(2, 50%)
                                p     column-gap: 2rem
                                p     row-gap:  2rem
                                p     @media (max-width: 767px) 
                                p       grid-template-columns:  100%
                                p   &__block
                                p     margin: 0 0 3rem 0
                                p     @media (min-width: 0px) and (max-width: 1199px)
                                p       margin: 0 0 1.5rem 0
                                p .item-block
                                p   &__title
                                p     padding: 0 0 2rem 0
                                p     h4
                                p       font-weight: 500
                                p       font-size: 2rem
                                p       line-height: 2.4rem
                                p       color: #000000
                                p       @media (min-width: 0px) and (max-width: 1199px)
                                p         font-size: 1.5rem
                                p   &__text
                                p     p 
                                p       font-size: 2rem
                                p       line-height: 2.4rem
                                p       color: #8B8B8B
                                p       @media (min-width: 0px) and (max-width: 1199px)
                                p         font-size: 1.5rem
                                p .address-map
                                p   width: 58rem
                                p   height: 31.4rem
                                p   +background-img("/assets/img/png/contacts/img-2.png")
                                p   @media (min-width: 0px) and (max-width: 1199px)
                                p     width: 100%

                        li.akr__item.akr-item
                          .akr-item__title.akr-title-js
                              img(src="assets/img/i-.png",alt="img")  
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                          .akr__drop.akr-drop.akr-drop-js
                              h2._1 sass
                        li.akr__item.akr-item
                          .akr-item__title.akr-title-js
                              img(src="assets/img/i-.png",alt="img")  
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                          .akr__drop.akr-drop.akr-drop-js
                              h2._1 sass
                        li.akr__item.akr-item
                          .akr-item__title.akr-title-js
                              img(src="assets/img/i-.png",alt="img")  
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                          .akr__drop.akr-drop.akr-drop-js
                              h2._1 sass
