//- bunners
.tabs-item
                  .tabs-item__title.tabs-title-js
                    h3._0 bunners
                    i.icon-chevron-down.tabs-item__img.tabs-img-js
                  .tabs__drop.tabs-drop.tabs-drop-js
                    ul.akr__body
                        li.akr__item.akr-item
                          .akr-item__title.akr-title-js
                              img(src="assets/img/i-2.png",alt="img")  
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                          .akr__drop.akr-drop.akr-drop-js
                                p    section#forward_leasing_bunner.forward_leasing_bunner
                                p          .forward_leasing_bunner__body 
                                p            .forward_leasing_bunner__title 
                                p              h2  Низкий платеж
                                p            .forward_leasing_bunner__text 
                                p              span от 
                                p              span.forward_leasing__big-span 3 200  ₽
                                p              span / мес.
                                p            button(type="button").forward_leasing_btn.forward_leasing_btn--empty.forward_leasing_bunner__button СМОТРЕТЬ КАТАЛОГ
                                
                                h2._1 sass
                                p .forward_leasing_bunner
                                p   &__body
                                p     width: 100%
                                p     padding: 9.5rem 0 12.2rem 10rem
                                p     background: #000000
                                p     +background-img("/assets/img/png/img-1.png")
                                p     background-size: 75% 100%
                                p     background-position: right
                                p     @media (min-width: 752px) and (max-width: 1199px)
                                p       padding: 44px 0 76px 42px
                                p       background-size: 101.5% 100%
                                p     @media (max-width: 751px)		
                                p       padding: 17.3rem 2.3rem 3.8rem 
                                p       background-position: top
                                p       background-size: 100% 39%
                                p   &__text
                                p     font-weight: bold
                                p     font-size: 2.4rem
                                p     line-height: 2.8rem
                                p     color: #88BD32
                                p     padding: 0 0 2rem 0
                                p     @media (max-width: 751px)		
                                p       font-size: 1.4rem
                                p       padding: 0 0 0 0
                                p     .forward_leasing__big-span
                                p         line-height: 4.5rem
                                p         font-size: 3.8rem
                                p         padding: 0  10px 0 0 
                                p         padding: 0 3px 0 8px
                                p         @media (max-width: 751px)		
                                p           font-size: 2.8rem
                                p   &__title
                                p     padding: 1rem 3rem 0 0
                                p     background: #000000
                                p     display: inline-block
                                p     margin: 1px 0 5px
                                p     @media (max-width: 1199px)		
                                p       padding: 10px 30px
                                p       margin: 0 0 -18px -30px
                                p   &__button
                                p     font-size: 1.4rem
                                p     line-height: 1.6rem
                                p     color: #FFFFFF
                                p     text-transform: uppercase
                                p     width: 197px
                                p     height: 40px
                                p     border-radius: .3rem
                                p     margin: 18px 0 0 0
                                p     letter-spacing: .04rem
                                p     font-weight: 400
                                p     border-radius: 3px
                                p     border: solid 2px $white!important
                                p     @media (min-width: 752px) and (max-width: 1199px)
                                p       margin: 14px 0 56px 0
                                p     @media (max-width: 751px)		
                                p       margin: 21px auto 0
                                p       width: 180px
                                p       height: 40px
                                p       font-size: 12px

                        li.akr__item.akr-item
                          .akr-item__title.akr-title-js
                              img(src="assets/img/i-.png",alt="img")  
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                          .akr__drop.akr-drop.akr-drop-js

                                h2._1 sass











