.tabs-item
                  .tabs-item__title.tabs-title-js
                    h3._0 карточка объекта/товара 
                    i.icon-chevron-down.tabs-item__img.tabs-img-js
                  .tabs__drop.tabs-drop.tabs-drop-js
                    ul.akr__body
                        li.akr__item.akr-item
                            .akr-item__title.akr-title-js
                              img(src="assets/img/i-11.png",alt="img") 
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                              button.copy#buttonSave.btn.btn--success copy code
                              div.fadeOut
                                p  .card-object
                                p    .card-object__img(style="background-image: url('assets/img/i-1.png')")
                                p    .card-object__title Lorem ipsum 
                                p    button(type="button").btn.btn--light.card-object__button  Užsakyti
                                p  
                                p  .card-object
                                p    width: 260px
                                p    height: 450px
                                p    background: rgba(139,139,139, .1)
                                p    border-radius: 5px
                                p    padding: 30px
                                p    +fdc
                                p    @media (max-width: 767px) 
                                p      width: 200px
                                p      height: 33px
                                p    
                                p    &__img
                                p        background-repeat: no-repeat
                                p        background-size: cover
                                p        background-position: center
                                p        width: 200px
                                p        height: 300px
                                p        @media (max-width: 767px) 
                                p          width: 100%
                                p    &__title
                                p      // display: inline-block
                                p      width: auto
                                p      height: auto
                                p      margin: 15px 0
                                p    &__button
                                p      width: 100%
                                p      height: 40px
                                p      border: 1px solid #000000
                                p      border-radius: 5px
                                p      +bg(transparent)
                                p      &:hover
                                p        +bg(lighten($active,10%))
                                p        +border(.1rem, lighten($active,30%))
                                p        color: $active
                                p      &:focus
                                p        +bg(darken($active,10%))
                                p        +border(.1rem, darken($active,30%))
                                p        color: $active


                        li.akr__item.akr-item
                            .akr-item__title.akr-title-js
                              img(src="assets/img/i-.png",alt="img") 
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                              button.copy#buttonSave.btn.btn--success copy code
                              div.fadeOut


