//- footers
.tabs-item
  .tabs-item__title.tabs-title-js
    h3._0 footers
    i.icon-chevron-down.tabs-item__img.tabs-img-js
  .tabs__drop.tabs-drop.tabs-drop-js
    ul.akr__body
      li.akr__item.akr-item
        .akr-item__title.akr-title-js
            img(src="assets/img/i-10.png",alt="img") 
            i.icon-chevron-down.akr-item__img.akr-item-img-js
            button.copy#buttonSave.btn.btn--success copy code
            div.fadeOut
                                p footer#footer.footer
                                p     .up_down_btn(title='Наверх') 
                                p     .container
                                p       .footer__body
                                p         .footer__item.footer-item
                                p           a(href="#!").footer__logo
                                p             img(src="assets/img/svg/logo.svg" alt="logo")
                                p           .footer-item__title-main UAB TOMETA
                                p           p.footer-item__property.footer-item__property--cod1 Įmonės kodas: 110559074
                                p           p.footer-item__property.footer-item__property--cod2 PVM kodas: LT105590716
                                p 
                                p 
                                p         .footer__item.footer-item
                                p           .footer-item__title Kaunas, Technikos g. 18S
                                p           .footer-item__description
                                p             p.footer-item__line Įprastas darbo laikas:
                                p             p.footer-item__line I-V 09:00-17:30
                                p             p.footer-item__line VI - nedirbame
                                p             p.footer-item__line VII - nedirbame
                                p           .footer-item__description
                                p             p.footer-item__line Telefono numeris:
                                p             p.footer-item__line 
                                p               span Tel.: 
                                p               a(href="#!").footer-item__tel 
                                p                 span 837 455185
                                p             p.footer-item__line 
                                p               span  Fax.: 
                                p               a(href="#!").footer-item__fax
                                p                 span 837 455144
                                p         .footer__item.footer-item
                                p           .footer-item__title Klaipėda, Rumpiškės g. 2
                                p           .footer-item__description
                                p             p.footer-item__line Įprastas darbo laikas:
                                p             p.footer-item__line I-V 10:00-18:00
                                p             p.footer-item__line VI 10:00-16:00
                                p             p.footer-item__line VII nedirbame
                                p           .footer-item__description
                                p             p.footer-item__line Telefono numeris:
                                p             p.footer-item__line 
                                p               span Tel.: 
                                p               a(href="#!").footer-item__tel
                                p                 span 8 46 311970
                                p             p.footer-item__line 
                                p               span Tel.: 
                                p               a(href="#!").footer-item__tel
                                p                 span 8 615 52012
                                p             p.footer-item__line 
                                p               span Tel.: 
                                p               a(href="#!").footer-item__tel
                                p                 span 8 618 14158
                                p       .footer__copyright  2021 © UNIFORMOS All rights reserved



                                p  .footer
                                p    margin: 100px 0 0 0
                                p    background: #3B3C3D
                                p    color: white
                                p    padding: 50px 0 20px 0
                                p    @media (min-width: 0px) and (max-width: 1199px)
                                p      margin: 6rem 0 0 0
                                p  
                                p  .footer__body
                                p    display: grid
                                p    grid-template-columns: 31.9% 39.2% 1fr
                                p    @media (max-width: 1199px) 
                                p      grid-template-columns:  1fr
                                p    
                                p    
                                p  .footer-item__property,.footer-item__line
                                p    font-size: 15px
                                p    margin: 0 0 10px 0
                                p  .footer-item__title-main
                                p    margin: 25px 0
                                p    @media (max-width: 767px) 
                                p      font-size: 18px
                                p  
                                p  .footer-item__title
                                p    font-weight: 600
                                p    font-size: 20px
                                p    line-height: 24px
                                p    color: $active
                                p    @media (max-width: 767px) 
                                p      font-size: 15px
                                p  .footer-item__tel,.footer-item__fax
                                p    display: inline-block
                                p    span
                                p      color: $active
                                p      text-decoration: underline
                                p  .footer-item__description
                                p    margin: 14px 0 38px 0
                                p    @media (max-width: 767px) 
                                p      font-size: 1.5rem
                                p  .footer__copyright
                                p    font-size: 10px
                                p    line-height: 12px
                                p    text-align: center
                                p    margin: -18px 0 0 0





