//- sliders
.tabs-item
                  .tabs-item__title.tabs-title-js
                    h3._0 sliders
                    i.icon-chevron-down.tabs-item__img.tabs-img-js
                  .tabs__drop.tabs-drop.tabs-drop-js
                    ul.akr__body
                        li.akr__item.akr-item
                          .akr-item__title.akr-title-js
                              img(src="assets/img/i-9.png",alt="img")  
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                          .akr__drop.akr-drop.akr-drop-js
                              p section#slider-model.slider-models
                              p       .slider-models__body.container
                              p         .slider__slider.slider-models__content.slider
                              p             ul.slider-models__slider.slider__body.slider-js-2
                              p                 li.slider-models__item.slider-card
                              p                   a.slider-card__link(href="#!")
                              p                   .slider-card__img(style="background-image: url('assets/img/png/img-5.png')")
                              p                 li.slider-models__item.slider-card
                              p                   a.slider-card__link(href="#!")
                              p                   .slider-card__img(style="background-image: url('assets/img/png/img-6.png')")
                              p                 li.slider-models__item.slider-card
                              p                   a.slider-card__link(href="#!")
                              p                   .slider-card__img(style="background-image: url('assets/img/png/img-7.png')")
                              p                 li.slider-models__item.slider-card
                              p                   a.slider-card__link(href="#!")
                              p                   .slider-card__img(style="background-image: url('assets/img/png/img-8.png')")
                              p                 li.slider-models__item.slider-card
                              p                   a.slider-card__link(href="#!")
                              p                   .slider-card__img(style="background-image: url('assets/img/png/img-5.png')")
                              p                 li.slider-models__item.slider-card
                              p                   a.slider-card__link(href="#!")
                              p                   .slider-card__img(style="background-image: url('assets/img/png/img-6.png')")
                              h2._1 sass
                              p // =================================================
                              p .slider-models__slider
                              p   display: grid
                              p   grid-template-columns:  1fr
                              p   // grid-template-rows:  1fr
                              p   grid-gap: 1.8
                              p   // max-height: 100vh
                              p   margin: 10rem 0 0 0
                              p   @media (max-width: 1199px)
                              p   @media (max-width: 767px)
                              p 
                              p .slider-models__content
                              p   width: 100%
                              p 
                              p .slider-models__body
                              p   // padding: 0 13.4rem
                              p   // max-width: 1170px
                              p   @media (max-width: 1400px) 
                              p     max-width: 100vw
                              p     margin: 0 0 0 0
                              
                              p .slider-models__item
                              p   padding: 0 0 0 0
                              p   min-height: 100%
                              p   position: relative
                              p   &:hover
                              p     cursor: pointer
                              p     & > .slider-card__link
                              p       opacity: 1
                              p       visibility: visible
                              p .slider-models
                              p   +bg(rgba(2,2,2,.6))
                              p   .slick-slide
                              p     // margin: 0 10px
                              p   .slider__body
                              p     +pro
                              p     height: 43.4rem
                              p     
                              p .slider-card__link
                              p   opacity: 0
                              p   visibility: hidden
                              p   transition: all 0.2s ease-in-out
                              p   position: relative
                              p   +absolute(100.5%,100%,50%,50%,auto,-50%,-50%)
                              p   z-index: 5
                              p   background: rgba(2, 2, 2, 0.6)
                              p   &:after
                              p     content: ""
                              p     position: absolute
                              p     +background-img("/assets/img/svg/Buy.svg")
                              p     width: 3.6rem
                              p     height: 3.6rem
                              p     top: 50% 
                              p     left: 50%
                              p     z-index: 10
                              p     // top: 100% 
                              p     // left: 100%
                              p     // top: 50% 
                              p     // left: 50%
                              p     // right: 0%
                              p     // @include anim(0.2s)
                              p     // @include rotate(45deg)
                              p     transform: translate(-50%,-50%)
                              p     // transform: translate(-50%,-50%) rotate(45deg)
                              p .slider-models
                              p   .slider-card__img
                              p     background-repeat: no-repeat
                              p     background-size: cover
                              p     background-position: center
                              p   .slick-arrow
                              p     position: relative
                              p     position: absolute
                              p     top:50%
                              p     transform: translateY(-50%)
                              p     z-index: 20
                              p     font-size: 0
                              p     transition: all 0.2s ease-in-out
                              p     width: calc((100vw-117rem)/2)
                              p     height: 100%
                              p     // background: rgba(2, 2, 2, 0.6)
                              p     +bg(transparent)
                              p     @media (max-width: 1400px) 
                              p       top: 102%
                              p       height: 4rem
                              p       transform: translateY(0%)
                              p       width: 50vw
                              p       background: rgba(2, 2, 2, 0.6)
                              p     &::after
                              p       content: "" 
                              p       +background-img("/assets/img/svg/arrow-left.svg") 
                              p       position: absolute
                              p       width: 3.3rem
                              p       height: 6.5rem
                              p       top: 50% 
                              p       z-index: 22
                              p       transform: translate(0,-50%)
                              p       // color: $active
                              p       transition: all 0.2s ease-in-out
                              p       @media (max-width: 1400px)
                              p         width: 1.6rem
                              p         height: 3.2rem
                              p     &:hover
                              p       cursor: pointer
                              p       opacity: .5
                              p       &::after
                              p         opacity: .8
                              p 
                              p   .slick-prev
                              p     left: calc((100vw-117rem)/-2)
                              p     @media (max-width: 1400px) 
                              p       left: 50%
                              p       transform: translateX(-100%)
                              p     &::after
                              p       right: 5rem
                              p 
                              p   .slick-next
                              p     right: calc((100vw-117rem)/-2)
                              p     @media (max-width: 1400px)
                              p       right: 50%
                              p       transform: translateX(100%)
                              p     &::after
                              p       transform:  translate(-50%,-50%) rotate(180deg)
                              p       left: 7rem
                              h2._5   js
                              p   $(".slider-js-2")
                              p     .slick({
                              p       dots: false,
                              p       // arrows: false,
                              p       slidesToShow: 4,
                              p       speed: 800,
                              p       easing: "ease",
                              p       // cssEase: "linear",
                              p       centerMode: false,
                              p       // autoplay: true,
                              p       // autoplaySpeed: 2000,
                              p       infinite: true,
                              p       //  initialSlide: 1,
                              p       pauseOnFocus: true,
                              p       pauseOnHover: true,
                              p       responsive: [
                              p         {
                              p           breakpoint: 1200,
                              p           settings: {
                              p             slidesToShow: 3,
                              p           },
                              p         },
                              p         {
                              p           breakpoint: 800,
                              p           settings: {
                              p             slidesToShow: 2,
                              p           },
                              p         },
                              p         {
                              p           breakpoint: 500,
                              p           settings: {
                              p             slidesToShow: 1,
                              p           },
                              p         },
                              p       ],
                              p     });


                        li.akr__item.akr-item
                          .akr-item__title.akr-title-js
                              img(src="assets/img/i-.png",alt="img")  
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                          .akr__drop.akr-drop.akr-drop-js
                              h2._1 sass
                        li.akr__item.akr-item
                          .akr-item__title.akr-title-js
                              img(src="assets/img/i-.png",alt="img")  
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                          .akr__drop.akr-drop.akr-drop-js
                                h2._1 sass




                        li.akr__item.akr-item
                          .akr-item__title.akr-title-js
                              img(src="assets/img/i-6.png",alt="img")  
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                          .akr__drop.akr-drop.akr-drop-js
                                p section#slider-cards.slider-cards
                                p       .slider-cards__body
                                p         .slider__slider.slider-cards__content.slider
                                p             ul.slider-cards__slider.slider__body.slider-js-1
                                p                 li.slider-cards__item.slider-card
                                p                   img.slider-card__img(data-lazy='./assets/img/png/img-1.png')
                                p                   .slider-card__title.main-title.container 
                                p                       h2 Apranga mokykloms ir organizacijoms 
                                p                       a(href="#!").slider-card__order
                                p                         span Užsakyti
                                p                 li.slider-cards__item.slider-card
                                p                   img.slider-card__img(data-lazy='./assets/img/png/img-1.png')
                                p                   .slider-card__title.main-title.container 
                                p                       h2 Apranga mokykloms ir organizacijoms 
                                p                       a(href="#!").slider-card__order
                                p                         span Užsakyti
                                p                 li.slider-cards__item.slider-card
                                p                   img.slider-card__img(data-lazy='./assets/img/png/img-1.png')
                                p                   .slider-card__title.main-title.container 
                                p                       h2 Apranga mokykloms ir organizacijoms 
                                p                       a(href="#!").slider-card__order
                                p                         span Užsakyti
                                p                 li.slider-cards__item.slider-card
                                p                   img.slider-card__img(data-lazy='./assets/img/png/img-1.png')
                                p                   .slider-card__title.main-title.container 
                                p                       h2 Apranga mokykloms ir organizacijoms
                                p                       a(href="#!").slider-card__order
                                p                         span Užsakyti 
                                p                 li.slider-cards__item.slider-card
                                p                   img.slider-card__img(data-lazy='./assets/img/png/img-1.png')
                                p                   .slider-card__title.main-title.container
                                p                       a(href="#!").slider-card__order
                                p                         span Užsakyti 
                                p                       h2 Apranga mokykloms ir organizacijoms 


                                h2._1 sass
                                p // -------------------стили всего слайдера------------------------------------
                                p 
                                p .slider-cards__slider
                                p   display: grid
                                p   grid-template-columns:  1fr
                                p   // grid-template-rows:  1fr
                                p   grid-gap: 18px
                                p   max-height: 100vh
                                p   @media (max-width: 1199px)
                                p   @media (max-width: 767px)
                                p 
                                p .slider-cards__content
                                p   width: 100%
                                p 
                                p .slider-cards__body
                                p .slider-cards__item
                                p   padding: 0 0 0 0
                                p   min-height: 100%
                                p 
                                p 
                                p .slider-card__order
                                p   width: 15.6rem
                                p   height: 15.6rem
                                p   border: 1px solid $active
                                p   border-radius: 50%
                                p   +center
                                p   position: relative
                                p   margin: 7.2rem 0 0 6.4rem
                                p   &:after
                                p     content: ""
                                p     +background-img("/assets/img/svg/arrow-long.svg")
                                p     position: absolute
                                p     width: 7.6rem
                                p     height: .5rem
                                p     top: 50% 
                                p     left: 0
                                p     z-index: 2
                                p     transform: translate(-50%,-50%)
                                p   span
                                p     color: $active
                                p     margin: 0 0 0 3.8rem
                                p     @media (max-width: 767px) 
                                p       font-size: 1.2rem
                                p   @media (max-width: 767px) 
                                p     width: 10rem
                                p     height: 10rem
                                p   
                                p // ---------------------стили слайда ------------------------------
                                p .slider-card
                                p   display: grid !important
                                p   position: relative
                                p 
                                p .slider-card__title
                                p   padding: 19rem 45.5rem 0 0
                                p   z-index: 2
                                p   @media (max-width: 1240px)
                                p   // @media (min-width: px) and (max-width: 1240px) 
                                p    
                                p   
                                p     padding: 30% 60% 0 0
                                p 
                                p .slider-card__img
                                p   position: absolute
                                p   height: 100%
                                p   top: 0 
                                p   right: 0
                                p   @media (max-width: 767px)
                                p     height: 60%
                                p   @media (max-width: 500px)
                                p     height: 40%
                                p 
                                p // ------------------служебные стили слайдера--------------------
                                p .slider-cards
                                p   .slick-slide
                                p     // margin: 0 10px
                                p   .slider__body
                                p     +pro
                                p     height: 100vh
                                p   
                                p   .slick-dots
                                p     position: absolute
                                p     bottom: 3.2%
                                p     left: 50%
                                p     transform: translateX(-50%)
                                p     +jucs
                                p     width: 117rem
                                p     @media (max-width: 1199px)
                                p       width: calc(100vw - 6rem)
                                p       +jucc
                                p     li
                                p       margin: 0 3.5rem  0 0
                                p       font-size: 0
                                p       width: 1.6rem
                                p       height: 1.6rem
                                p       border-radius: 50%
                                p       border: .1rem solid rgba(0, 0, 0, 0.71)
                                p       transition: all 0.2s ease-in-out
                                p       &:hover
                                p         cursor: pointer
                                p         // +bg( lighten($purple, 30%) )  
                                p       @media (max-width: 767px)
                                p         width: 1.2rem
                                p         height: 1.2rem
                                p 
                                p     li.slick-active
                                p       +bg(rgba(0, 0, 0, 0.7))
                                p   
                                p .slider-js-1
                                p   display: none

                                h2._1 js
                                p $(Document).ready(function () {
                                p   $(".slider-js-1").show().slick({
                                p     dots: true,
                                p     arrows: false,
                                p     slidesToShow: 1,
                                p     speed: 800,
                                p     easing: "ease",
                                p     // cssEase: "linear",
                                p     centerMode: false,
                                p     // autoplay: true,
                                p     // autoplaySpeed: 2000,
                                p     infinite: true,
                                p     //  initialSlide: 1,
                                p     pauseOnFocus: true,
                                p     pauseOnHover: true,
                                p   });
