
h1, h2, h3, h4 , h5 
  text-transform: uppercase
  
  
  
  
  
.button_player
  width: 20rem
  height: 5rem
  border-radius: 1rem
  background: #3D5AFE
  color: white
  transition: all 0.2s ease-in-out
  &:hover
    cursor: pointer
    background:lighten(#3D5AFE, 20%) 
  
  
.notes
  padding: 20px
  +border(20px, #283593)	
  +bg(#90CAF9)
.notes-item__title,.block__title
  text-transform: uppercase



.tabs-item__title
  +jucs
  +pro
  h3
    text-shadow: 1px 1px 2px black, 0 0 1em #00695C
    

.title 
  h2
    padding: 20px
    text-shadow: 1px 1px 2px black, 0 0 1em #283593

.tabs-drop__info
  span 
    font-size: 12px
  p
    letter-spacing: 1px

.tabs-item
  margin: 0 0 10px 0

.tabs-item__title
  padding: 10px 15px	

// ------------------------

.headers
  padding: 0 0 0 0	
  +bg(#885af8)

.headers__title
  h2

.headers
  .akr__drop
    padding: 0 0 0 0
    border-top: 20px solid 	#4164ff


.akr-title-js
  img
    max-width: 500px
    max-height: 200px




