.tabs-item
                  .tabs-item__title.tabs-title-js
                    h3._0 block
                    i.icon-chevron-down.tabs-item__img.tabs-img-js
                  .tabs__drop.tabs-drop.tabs-drop-js
                    ul.akr__body
                        li.akr__item.akr-item
                            .akr-item__title.akr-title-js
                              h4._5  min-content, max-content, fit-content, stretch
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                            .akr__drop.akr-drop.akr-drop-js
                                  span._2 Ключевые слова выше работают только с блочными элементами (block element) или inline-block элемент
                                  span._2 https://betacode.net/12557/the-keywords-min-content-max-content-fit-content-stretch-in-css#a54855707
                                  p width: max-content
                                  p width: min-content
                                  p width: fit-content
                                  p width: stretch
                                  p 
                                  p max-width: max-content
                                  p max-width: min-content
                                  p max-width: fit-content
                                  p max-width: stretch
                                  p 
                                  p min-width: max-content
                                  p min-width: min-content
                                  p min-width: fit-content
                                  p min-width: stretch
                                  p 
                                  p height: max-content
                                  p height: min-content
                                  p height: fit-content
                                  p height: stretch
