.tabs-item
                  .tabs-item__title.tabs-title-js
                    h3._0 deploy  
                    i.icon-chevron-down.tabs-item__img.tabs-img-js
                  .tabs__drop.tabs-drop.tabs-drop-js
                    ul.akr__body
                        li.akr__item.akr-item
                            .akr-item__title.akr-title-js
                              h4._5 это откроет все фонты css  
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                            .akr__drop.akr-drop.akr-drop-js
                              p /assets/fonts
                              p ../fonts
                        li.akr__item.akr-item
                            .akr-item__title.akr-title-js
                              h4._5 это откроет изображения на css прописанные бэком
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                            .akr__drop.akr-drop.akr-drop-js
                              p /assets/img
                              p ../img
                        li.akr__item.akr-item
                            .akr-item__title.akr-title-js
                              h4._5 это откроет на html изображения . прописанные бэком  
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                            .akr__drop.akr-drop.akr-drop-js
                              p /assets/img
                              p ./assets/img
                        li.akr__item.akr-item
                            .akr-item__title.akr-title-js
                              h4._5 при прямом переносе скриптов удалять в них строчку  
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                            .akr__drop.akr-drop.akr-drop-js
                              p // import $ from "jquery";





