
include all_types_layouts/headers
include all_types_layouts/bunners
include all_types_layouts/cards
include all_types_layouts/card
include all_types_layouts/blocks+img
include all_types_layouts/different
include all_types_layouts/sliders
include all_types_layouts/tabs
include all_types_layouts/popups
include all_types_layouts/forms
include all_types_layouts/footers



