
section#modaL.modaL
  .popup-player.popup-1
      .popup-player__overlay
        .popup-player__inner
          i.icon-x.popup__close.close-js
          //- #player.player-1(data-plyr-provider='youtube' data-plyr-embed-id="bTqVqk7FSmY")
          video#player.player-1( playsinline='' controls='')
              source(src='./assets/img/video1.mp4' type='video/mp4')
  .popup-player.popup-2
      .popup-player__overlay
        .popup-player__inner
          i.icon-x.popup__close.close-js
          //- #player.player-1(data-plyr-provider='youtube' data-plyr-embed-id="bTqVqk7FSmY")
          video#player.player-2( playsinline='' controls='')
              source(src='./assets/img/video2.mp4' type='video/mp4')
  .popup-player.popup-3
      .popup-player__overlay
        .popup-player__inner
          i.icon-x.popup__close.close-js
          //- #player.player-1(data-plyr-provider='youtube' data-plyr-embed-id="bTqVqk7FSmY")
          video#player.player-3( playsinline='' controls='')
              source(src='./assets/img/video3.mp4' type='video/mp4')
  .popup-player.popup-4
      .popup-player__overlay
        .popup-player__inner
          i.icon-x.popup__close.close-js
          //- #player.player-1(data-plyr-provider='youtube' data-plyr-embed-id="bTqVqk7FSmY")
          video#player.player-4( playsinline='' controls='')
              source(src='./assets/img/video4npm run dev.mp4' type='video/mp4')
