.tabs-item
                  .tabs-item__title.tabs-title-js
                    h3._0 pug 
                    i.icon-chevron-down.tabs-item__img.tabs-img-js
                  .tabs__drop.tabs-drop.tabs-drop-js
                    ul.akr__body
                        li.akr__item.akr-item
                            .akr-item__title.akr-title-js
                              h4._5 цикл однотипных блоков  
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                            .akr__drop.akr-drop.akr-drop-js
                                p - 
                                p   &nbsp;&nbsp;items = [
                                p       &nbsp;&nbsp;&nbsp;&nbsp;{ title: " ", },
                                p     &nbsp;&nbsp;]
                                p 
                                p each item in items
                                p     &nbsp;&nbsp;`=item.title
                        li.akr__item.akr-item
                            .akr-item__title.akr-title-js
                              h4._5 вывод одинаковых блоков в больших количествах
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                            .akr__drop.akr-drop.akr-drop-js
                                p  - for (var x = 0; x <` 30; x++)
                                p       &nbsp;&nbsp;li item 
                        li.akr__item.akr-item
                            .akr-item__title.akr-title-js
                              h4._5 задавать background-image inline 
                              i.icon-chevron-down.akr-item__img.akr-item-img-js
                            .akr__drop.akr-drop.akr-drop-js
                                p  .news-left__card.news-left-card(style=`background-image: url(${item.url})`)